@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #f5f5f5;
    overflow: hidden;
}
button{
    outline: none;
}
/* Global end */
.container{
    width: 500px;
    margin: 0 auto;
    position: relative;
}
.score{
    position: absolute;
    top: -55px;
    left: 5px;
    display: none;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -50px;
    font-size: 22px;
    font-family: "Montserrat Black";
}
.highscore{
    position: absolute;
    top: -55px;
    right: 5px;
    display: none;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -50px;
    font-size: 22px;
    font-family: "Montserrat Black";
}
#scoreGame, #highscoreGame {
    color: #41c300;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1{
    font-size: 80px;
    color: #f2f2f2;
    font-family: "Montserrat Black";
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    cursor: default;
}
.title h1 > * {
    margin: 0 5px;
}
.title .levelBtn{
    z-index: 9;
    border: none;
    border-radius: 2px;
    font-family: "Montserrat SemiBold";
    padding: 5px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: #f5f5f5;
}
.levelBtn:hover{
    background-color: #38a004;
    color: #fff;
}
.levels{
    display: none;
}
.levels > * {
    margin: 0 5px;
}
.title #start:hover{
    background-color: #38a004;
    color: #fff;
}
canvas{
    display: none;
    margin: 60px auto;
}
#countdown{
    z-index: -2;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 280px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat Black";
    opacity: 0;
    transform: translateX(-50%);
    letter-spacing: 3px;
}
#countdown.active{
    animation: countdown 0.95s ease forwards;
}
@keyframes countdown{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.gameOver{
    width: 230px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #333333;
    box-shadow: 4px 3px #eeeeee40;
    font-family: "Montserrat SemiBold";
    border-radius: 3px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gameOver > *{
    margin: 10px 0;
}
.gameOver h2{
    color: #41c300;
    font-family: "Montserrat Black";
    letter-spacing: 2px;
}
#playAgain, #closeGame{
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: #41c300;
    font-family: "Montserrat SemiBold";
    color: #fff;
    cursor: pointer;
    height: 35px;
    width: 110px;
    transition: 0.2s ease;
}
#playAgain:hover, #closeGame:hover{
    background-color: #fff;
    color: #333;
}

.credits{
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: "Montserrat Regular";
    font-size: 8px;
}
.credits a{
    color: #41c300;
    text-decoration: none;
}
.info {
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: "Montserrat Regular";
    font-size: 12px;
}
.info i {
    color:#f2f2f2;
    font-size: 35px;
    transition: 0.2s ease;
}
.info i:hover{
    color: #1be936;
}